<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean name="city" class="cn.biz.po.CdCity">
        <property name="code" value="10001"/>
        <property name="fullName" value="杭州"/>
    </bean>

</beans>