<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.biz.mapper.AuthMenuMapper">
    <select id="getAllMenus" resultType="cn.biz.vo.MenuVO">
      select *from auth_menu where is_del=0 order by sort asc
    </select>
</mapper>
