<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.biz.mapper.FundMapper">
    <insert id="batchInsertOrUpdate" parameterType="java.util.List">
        INSERT INTO fund (code,short_py,full_py,`name`,`type`,create_time,update_time)
        VALUE
        <foreach collection="list" item="item" separator=",">
            (#{item.code},#{item.shortPy},#{item.fullPy},#{item.name},#{item.type},now(),now())
        </foreach>
        ON DUPLICATE KEY UPDATE
        code=VALUES(code),
        short_py=VALUES(short_py),
        full_py=VALUES(full_py),
        `name`=VALUES(`name`),
        `type`=VALUES(`type`),
        update_time = VALUES(update_time)
    </insert>
    <select id="getAllFund" resultType="cn.biz.po.Fund">
        SELECT * FROM fund
        WHERE 1=1
        <if test="dto.name!=null and dto.name!=''">
            and name like concat("%",#{dto.name},"%")
        </if>
        <if test="dto.type!=null and dto.type!=''">
            and type=#{dto.type}
        </if>
        order by code asc
    </select>
</mapper>
