<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.biz.mapper.StockMapper">
    <!--获取最近7天日期-->
    <select id="getDate" resultType="string">
         SELECT
            DATE_FORMAT(date, '%Y-%m-%d') AS date
        FROM
            stock
        GROUP BY
            DATE_FORMAT(date, '%Y-%m-%d')
        ORDER BY
            DATE_FORMAT(date, '%Y-%m-%d') DESC
        LIMIT 7
    </select>
    <!--获取7天的数据 18*7=126-->
    <select id="getData" resultType="map">
        SELECT
            DATE_FORMAT(date, '%Y-%m-%d') AS date,
            DATE_FORMAT(date, '%H:%i') AS hour,
            turn_over AS turnOver
        FROM
            stock
        GROUP BY
            DATE_FORMAT(date, '%Y-%m-%d'),
            DATE_FORMAT(date, '%H:%i')
        ORDER BY
            DATE_FORMAT(date, '%Y-%m-%d') DESC
        where
            DATE_FORMAT(date, '%Y-%m-%d') >= DATE_SUB(CURDATE(), INTERVAL 5 DAY)
    </select>
</mapper>
