<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.biz.mapper.SysOperateLogMapper">
    <select id="getOperateLogList" resultType="cn.biz.po.SysOperateLog">
        select *from sys_operate_log a
        where 1=1
        <if test="dto.module!=null and dto.module!=''">
            and a.operate_module =#{dto.module}
        </if>
        <if test="dto.startDate!=null and dto.startDate!='' and (dto.endDate==null or dto.endDate=='')">
            and date(a.operate_time)=#{dto.startDate}
        </if>
        <if test="dto.endDate!=null and dto.endDate!='' and (dto.startDate==null or dto.startDate=='')">
            and date(a.operate_time)=#{dto.endDate}
        </if>
        <if test="dto.startDate!=null and dto.startDate!='' and dto.endDate!=null and dto.endDate!=''">
            and date(a.operate_time) between #{dto.startDate} and #{dto.endDate}
        </if>
        ORDER BY a.operate_time desc
    </select>

    <select id="getTableList" resultType="cn.biz.vo.TableListVO">
      SELECT
        `TABLE_NAME`,`TABLE_COMMENT`,`CREATE_TIME`,`UPDATE_TIME`
        FROM information_schema.`TABLES`
      WHERE TABLE_SCHEMA = #{dto.schema}
        <if test="dto.name!=null and dto.name!=''">
            and TABLE_COMMENT =#{dto.name}
        </if>
        <if test="dto.startDate!=null and dto.startDate!='' and (dto.endDate==null or dto.endDate=='')">
            and date(CREATE_TIME)=#{dto.startDate}
        </if>
        <if test="dto.endDate!=null and dto.endDate!='' and (dto.startDate==null or dto.startDate=='')">
            and date(CREATE_TIME)=#{dto.endDate}
        </if>
        <if test="dto.startDate!=null and dto.startDate!='' and dto.endDate!=null and dto.endDate!=''">
            and date(CREATE_TIME) between #{dto.startDate} and #{dto.endDate}
        </if>
        order by CREATE_TIME desc
    </select>
</mapper>
