<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.biz.mapper.WeiboMapper">
    <select id="getWeiboList" resultType="cn.biz.po.Weibo">
        SELECT * FROM weibo
        WHERE topics !=''
        <if test="dto.topic!=null and dto.topic!=''">
            and topics like concat("%",#{dto.topic},"%")
        </if>
        <if test="dto.startDate!=null and dto.startDate!='' and (dto.endDate==null or dto.endDate=='')">
            and date(created_at)=#{dto.startDate}
        </if>
        <if test="dto.endDate!=null and dto.endDate!='' and (dto.startDate==null or dto.startDate=='')">
            and date(created_at)=#{dto.endDate}
        </if>
        <if test="dto.startDate!=null and dto.startDate!='' and dto.endDate!=null and dto.endDate!=''">
            and date(created_at) between #{dto.startDate} and #{dto.endDate}
        </if>
        order by attitudes_count desc
    </select>

    <insert id="batchInsertOrUpdate" parameterType="java.util.List">
        INSERT INTO weibo (id,bid,user_id,screen_name,text,topics,pics,source,attitudes_count,comments_count,reposts_count,created_at,create_time,update_time)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.id},#{item.bid},#{item.userId},#{item.screenName},#{item.text},#{item.topics},#{item.pics},#{item.source},#{item.attitudesCount},#{item.commentsCount},#{item.repostsCount},#{item.createdAt},now(),now())
        </foreach>
        ON DUPLICATE KEY UPDATE
        bid=VALUES(bid),
        created_at=VALUES(created_at),
        attitudes_count=VALUES(attitudes_count),
        comments_count=VALUES(comments_count),
        reposts_count=VALUES(reposts_count),
        update_time = VALUES(update_time)
    </insert>
</mapper>
